# Hardhat account #1 (local testing): 0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
UNIVERSITY_PRIVATE_KEY=0x_your_issuer_private_key_here
REGISTRY_ADDRESS=0x_deployed_registry_address_here
VERIFIER_ADDRESS=0x_deployed_verifier_address_here
RPC_URL=http://127.0.0.1:8545
NETWORK=localhost